<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles.css">
    <title>Layout</title>
</head>
<body>
    <header class="cabecera-principal">Barra de herramientas</header>
    <section class="seccion-principal">
        <aside>CONTENIDO SECUNDARIO</aside>
        <MAin class="main-principal">
            <header>Sub Barra de herramientas</header>
            <section></section>
        </MAin>
    </section>
</body>
</html>